<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.pv239_game_trio">

    <application
            android:name=".backend.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".frontend.main.start.ScoreActivity">
        </activity>
        <activity android:name=".frontend.games.tikBum.TikBumAddPointsActivity">
        </activity>
        <activity android:name=".frontend.main.start.RemovePlayerActivity">
        </activity>
        <activity android:name=".frontend.main.start.AddPlayerActivity">
        </activity>
        <activity android:name=".frontend.main.ChooseGameActivity">
        </activity>
        <activity android:name=".frontend.games.tikBum.TikBumActivity">
        </activity>
        <activity android:name=".frontend.games.hangman.HangmanActivity">
        </activity>
        <activity
                android:name=".games.hangman.HangmanGameActivity"
                android:parentActivityName=".frontend.games.hangman.HangmanActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name=".frontend.games.charade.CharadeActivity">
        </activity>
        <activity android:name=".frontend.main.start.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>